*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
#user{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 1vw;
    align-items: center;
    gap: 1vw;
}
#main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
}
#aside{
    padding-left:0.5vw;
    height: 100%;
    width: 16vw;
    background-image: linear-gradient(to right,rgb(1, 1, 23),rgb(1, 1, 23));
    border-right: 2px solid grey;
}
#task-completed-heading{
    color:#0f6405;
    margin-top: 5vh;
    font-size: 2vw;
    font-weight: bolder;
}
#task-complete-container{
    max-height:80vh;
    margin-left: 1vw;
    color: white;
    margin-top: 1vw;

    
}

#logout-btn{
height: 4vh;
width: 9vw;
background-image: linear-gradient(to bottom,rgb(41, 40, 40), rgb(98, 5, 78) , rgb(98, 0, 255),rgb(0, 0, 0));
border-radius: 4px;
color: white;
position:absolute;
bottom:6vh;
left:5vw;
}
#middle-page{
    height: 100%;
    width: 84vw;
}
#header{
    width: 100%;
    height: 14%;
    background-image: linear-gradient(to bottom,#110228,#1a0244,#1a0244,#1a0244,#1a0244,#110228);
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: white;
}
#todo-heading{
    font-size: 3vw;
}
#header>img{
    height:7vw;
    width: 7vw;
    margin-left: 4vw;
}
#content{
width: 100%;
height: 86%;
border: 1px solid rebeccapurple;
display: flex;
flex-direction: column;
align-items: center;
background-image: url("./images/background.jpg");
border: 1vw solid rgb(1, 1, 49);
overflow-y: auto;
}

#table-head{
    margin-top:10vh;
    display: flex;
    gap: 1px;
}
#add-btn{
    position:relative;
    left: 25vw;
    top: 2vw;
    padding: 0.2vw 0.72vw;
    background-color: rgba(186, 193, 190, 0.2);
    color: rgb(212, 8, 8);
    font-weight: bolder;
}
#task-popup{
    width: 16vw;
    height: 4vh;
    position: absolute;
    border: 2px solid green;
    border-radius: 4px;
    top: 20vh;
    right: 25vw;

}
#table-head>div{
    width: 15vw;
    height: 2vw;
    border: 1px solid black;
    background-color: rgb(130, 130, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25vw;
    font-weight: bolder;
}
#table-data-container{
    
}
#table-data{

    margin-top: 1px;
    display: flex;
    gap: 1px;
}
#table-data>div{
    
    width: 15vw;
    height: 2vw;
    border: 1px solid black;
    background-image:linear-gradient(to bottom,rgb(0, 64, 128), rgb(6, 43, 75));
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(241, 245, 241);
    font-size: 1.25vw;
}
.start-btn{
    color: rgb(13, 238, 13);
    font-size: 17px;
    font-weight: bold;
    font-size: 1.2vw;
}
.start-pause-btn{
    display: flex;
    gap: 1vw;
    font-size: 1.2vw;
}
.pause-btn{
    color: gold;
    font-size: 17px;
    font-weight: bold;
    font-size: 1.2vw;
}
.stop-btn{
    color: red;
    font-size: 17px;
    font-weight: bold;
    font-size: 1.2vw;
}

.resume-btn{
    color: rgb(255, 0, 187);
    font-size: 17px;
    font-weight: bold;   
    font-size: 1.2vw;
}